@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;500;600;700&family=Nosifer&display=swap");

.icon {
  width: 4rem;
  height: 4rem;
}

p {
  text-align: center;
  font-family: "Averia Sans Libre", sans-serif;
  color: #fff;
  /* display: flex; */
  padding: 1rem;
}

footer {
  background: linear-gradient(181deg, #131518, #010211, #9b9b48);
  background-size: 180% 180%;
  animation: gradient-animation 3s ease infinite;
  border: none;
  border-radius: 1rem 0rem 0.5rem 2rem;
  box-shadow: -28px -25px 5px 0px rgba(48, 6, 153, 0.74);
  -webkit-box-shadow: -28px -25px 5px 0px rgba(48, 6, 153, 0.74);
  -moz-box-shadow: -28px -25px 5px 0px rgba(48, 6, 153, 0.74);
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
