@import url("https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@300;400;700&display=swap");

.stats-description {
  font-family: "Averia Sans Libre", sans-serif;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  line-height: 2.5rem;
  margin: 1rem 0;
  /* padding: 0.5rem; */
}

.stats-completed {
  font-family: "Averia Sans Libre", sans-serif;
  font-size: 2rem;
  text-align: center;
  line-height: 2.5rem;
  margin: 1rem 0;
  padding: 0.5rem;
  background: linear-gradient(291deg, #5a3e2b 0%, #710400 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.stats-decoration {
  color: rgb(113, 4, 0);
  /* background-color: #fff;
  padding: 0.2rem; */
  border-radius: o.4rem;
}

.icon {
  width: 4rem;
  height: 4rem;
}
@media screen and (max-width: 768px) {
  .stats-description {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .icon {
    width: 3rem;
  }
}
